{% extends 'base.html.twig' %}

{% block title %}Profesores{% endblock %}

{% block body %}
<div class = "container p-4">
    <h1>Profesores</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profesor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ profesor.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ profesor.apellido }}</td>
            </tr>
            <tr>
                <th>Materia</th>
                <td>{{ profesor.materia.nombre }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <a href="{{ path('app_profesores_index') }}"><button type="button" class="btn btn-primary">Volver a la Lista</button></a>

        <a href="{{ path('app_profesores_edit', {'id': profesor.id}) }}"><button style="background-color:purple" type="button" class="btn btn-primary">Editar</button></a>

        {{ include('profesores/_delete_form.html.twig') }}
    </table>
</div>
{% endblock %}
