{% extends 'base.html.twig' %}

{% block title %}Alumnos CRUD{% endblock %}

{% block body %}
<div class = "container p-4">
    <h1>Alumnos CRUD</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        
        {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>{{ alumno.edad }}</td>
                <td>
                    <a href="{{ path('app_alumnos_show', {'id': alumno.id}) }}"><button type="button" class="btn btn-primary">Mostrar</button></a>
                    <a href="{{ path('app_alumnos_edit', {'id': alumno.id}) }}"<button style="background-color:purple" type="button" class="btn btn-primary">Editar</button></a>
                    {# <a href={{ include('alumnos/_delete_form.html.twig') }}</a>  Botón de eliminar, Funciona sin la etiqueta href pero queda feo #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron datos :/</td>
            </tr>
        {% endfor %}
    
        </tbody>
    </table>

    <a href="{{ path('app_alumnos_new') }}"><button type="button" class="btn btn-primary">Ingresar un Alumno</button></a>
</div>
{% endblock %}
