{% extends 'base.html.twig' %}

{% block title %}Materias CRUD{% endblock %}

{% block body %}
<div class = "container p-4">
    <h1>Materias CRUD</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for materia in materias %}
            <tr>
                <td>{{ materia.id }}</td>
                <td>{{ materia.nombre }}</td>
                <td>
                    <a href="{{ path('app_materias_show', {'id': materia.id}) }}"><button type="button" class="btn btn-primary">Mostrar</button></a>
                    <a href="{{ path('app_materias_edit', {'id': materia.id}) }}"><button style="background-color:purple" type="button" class="btn btn-primary">Editar</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron datos :/</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_materias_new') }}"><button type="button" class="btn btn-primary">Ingresar una Materia</button></a>
</div>
{% endblock %}
